services:
    mailer:
        container_name: mailer
        image: murilofuza/simple-mail:latest
        env_file: .env
        depends_on:
            - redis
        ports:
            - "3002:3000"
        volumes:
            - ./templates:/templates
        networks:
            - traefikNetwork
    redis:
        image: redis:alpine
        volumes:
            - redis:/data
        networks:
            - traefikNetwork
volumes:
    redis:
networks:
    traefikNetwork:
        external: true