<html>
    <head>
        <title>Bem-vindo ao nosso serviço!</title>
    </head>
    <body>
        <p>Olá {{user}},</p>
        <p>Seu código de verificação é: <b>{{code_verification}}</b></p>
    </body>
</html>